@import './root.css';

/* fill="var(--contr_base)" */
/* fill="var(--base)" */
/*  fill="var(--accent)" */
.nav_list {
    display: flex;
    gap: 32px;
    color: var(--contr_base);
}

.nav_list_cont {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav {
    margin: 32px;
    margin-top: 0;
    padding-top: 32px;
    top: 0;
}

.nav_buttons {
    display: flex;
    gap: 50px;
}

.nav_buttons * {
    border: none;
    background: none;
}

.nav_content {
    display: flex;
    justify-content: space-between;
}

.resume {
    border-radius: 4px;
    padding: 16px 20px;
    width: 153px;
    height: 56px;
    background: var(--contr_base);
    color: var(--base) !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#w1.show {
    pointer-events: auto;
    color: var(--contr_base) !important;
}

#w2.show {
    pointer-events: auto;
}

#w3.show {
    pointer-events: auto;
}

#w4.show {
    pointer-events: auto;
}

#w5.show {
    pointer-events: auto;
}

.burger {}

.burger_btn_div {
    display: flex;
    flex-direction: column;
}

.BRG{
    display: none;
}
.nav_list1 {
    display: flex;
    background-color: var(--contr_base);
    color: var(--base);
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 680px;
    transition: .5;
    right: 5px;
}
.nav_list1 *{
margin: 5px;
}
