
/* fill="var(--contr_base)" */
/* fill="var(--base)" */
/*  fill="var(--accent)" */
:root {
    --base: #ffffff;
    --contr_base: #000000;
    --accent: #27272A;
    --accent_text: #27272A;
}

[data-theme='dark'] {
    --base: #000;
    --contr_base: #fff;
    --accent: #27272A;
    --accent_text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sora';
    transition: .5s;
}

@font-face {
    font-family: 'sora';
    src: url('../fonts/Sora-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.app {
    background-color: var(--base);
    width:100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* cursor: url('../icon/Vector10.svg'), auto; */
}

body {
    display: flex;
    justify-content: center;
}