/* fill="var(--contr_base)" */
/* fill="var(--base)" */
/*  fill="var(--accent)" */
:root {
    --base: #ffffff;
    --contr_base: #000000;
    --accent: #27272A;
    --accent_text: #27272A;
}

[data-theme='dark'] {
    --base: #000;
    --contr_base: #fff;
    --accent: #27272A;
    --accent_text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sora';
    transition: .5s;
}

@font-face {
    font-family: 'sora';
    src: url('../fonts/Sora-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

.app {
    background-color: var(--base);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
}

@media (max-width:576px) {
    .resume{
        display: none !important;
    }
    .nav_list {
        display: none;
    }
    .BRG{
        display: block !important;
    }

    .footer_top {
        display: flex !important;
        flex-direction: column !important;
    }

    .footer_content {
        width: 526px;
    }

    .form {
        width: fit-content !important;
    }

    .footer_top {
        width: fit-content !important;
    }

    .Ul {
        position: absolute;
        left: 180px !important;
        bottom: 0px;
        width: fit-content !important;
    }

    .footer_content {
        height: 500px !important;
    }

    .ppp {
        width: 526px !important;
        margin-left: -40px;
        height: 509px;
    }

    .header_content {
        display: flex;
        width: 526px;
        align-items: center;
        flex-direction: column;
        text-wrap: wrap;
        position: relative;
    }

    .P1 {
        width: 100% !important;
        text-align: center;
    }

    .header_content h2b {
        width: 100% !important;
        text-align: center;
    }

    .header {
        padding: 0;
        margin-right: 0px !important;
    }

    .nav {
        min-width: 576px;
    }

    .skills_grid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
        grid-column-gap: 71px !important;
        grid-row-gap: 40px !important;
        max-width: 576px !important;
        height: 1000px !important;
    }



    body>section {
        max-width: 576px;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .AboutMe {
        display: flex !important;
        flex-direction: column;
        max-width: 576px;
        margin-top: 350px;
        height: 1200px !important;
    }

    .AboutMeSvg {
        width: 527px !important;
        height: 576px !important;
        margin-top: 0 !important;
    }

    article {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    body>div {
        max-width: 576px;
        width: fit-content;
    }

    .SSS {
        display: flex;
        flex-direction: column !important;
        height: fit-content !important;
        margin: 0 !important;
    }

    .projImg {
        width: 526px !important;
    }

    .project_button {
        border: 3.07px solid var(--base) !important;
        border-radius: 6px !important;
        padding: 55px 30px !important;
        width: 496px !important;
        height: 86px !important;
        position: unset;
        margin-top: 100px !important;
        margin-left: calc(526px - 496px);
    }

    body>main {
        max-width: 527px !important;
        width: fit-content;
    }

    body>header {
        max-width: 527px !important;
        width: fit-content;
    }

    .header {
        width: 527px;
        margin: 0 !important;
    }

    .main {
        margin-top: 320px;
    }

    .skills {
        max-width: 527px;
        width: fit-content;
    }

    .header_content {
        margin: 0 !important;
    }

    article {
        text-align: center;
        margin-bottom: 50px;
    }

    .s {
        height: fit-content;
        min-height: 2286px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}